@using Microsoft.AspNetCore.Components.Routing

<nav class="glass-navbar">
    <div class="nav-container">
        <div class="nav-brand">
            Weather<span class="highlight">App</span>
        </div>

        <div class="nav-links">
            <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>

            <NavLink class="nav-item" href="weathermap">
                WeatherMap
            </NavLink>

            <NavLink class="nav-item" href="weatherfight">
                WeatherFight
            </NavLink>
        </div>
    </div>
</nav>